.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #282c34;
    overflow: hidden;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desktop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    align-items: start;
    gap: 0.5rem;
    padding: 1rem;
}
