.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #282c34;
    overflow: hidden;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100%;
    flex-wrap: wrap;
    padding: 1rem;
}