.contato-content {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../../../assets/backgrounds/website/bg-website.jpg');
}

.contato-content h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.contato-content p {
    line-height: 1.3rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
